.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

@media (min-width:1024px) {
  .menu {
    font-size: 16px;
    color: #000;
  }

  .pc_container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;

    .logo {
      color: #000;
      font-size: 36px;
      line-height: 40px;
    }

    .search {
      position: relative;

      .searchList {
        display: none;
        position: absolute;
        top: 55px;
        width: 100%;
        padding-bottom: 30px;
        max-height: 800px;
        z-index: 2;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        border-radius: 8px;
        background: #fff;
        overflow-y: scroll;
        box-sizing: border-box;

        .searchBorder {
          border-bottom: 1px solid #777777;
          padding: 0 30px;
          box-sizing: border-box;
        }

        .searchHistory {
          margin-bottom: 15px;

          span {
            display: block;
            font-size: 20px;
            color: #000;
            line-height: 50px;
          }


        }

        .searchHistoryList {
          li {
            float: left;
            padding: 0 15px;
            color: #fff;
            line-height: 46px;
            font-size: 16px;
            font-weight: bold;
            margin-right: 15px;
            margin-bottom: 8px;
            background: #000;
            border-radius: 16px;

            .ICON {
              font-size: 16px;
              color: #fff;
              cursor: pointer;
            }
          }
        }

        .ulList {
          padding: 0 30px;
          box-sizing: border-box;

          h4 {
            font-size: 20px;
            color: #000;
            line-height: 50px;
          }

          ul li {
            position: relative;
            width: 140px;
            height: 80px;
            float: left;
            margin-right: 8px;
            margin-bottom: 8px;
            background: #000;
            overflow: hidden;
            border-radius: 16px;
            box-sizing: border-box;

            img {
              width: auto;
              height: 100%;
              position: absolute;
              left: 50%;
              transform: translate(-50%, 0%);

            }

            p {
              width: 100%;
              text-align: center;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 20px;
              color: #fff;
              font-weight: 600;
              z-index: 2;
            }

            .markmin {
              position: absolute;
              top: 0;
              bottom: 0;
              width: 100%;
              background: rgba(0, 0, 0, .2)
            }

            .markminOn {
              background: rgba(0, 0, 0, .9)
            }

            .checkOn {
              display: none;
              position: absolute;
              top: 6px;
              right: 6px;
              font-size: 16px;
              color: #fff;
            }
          }

          .pictrueP {
            img {
              width: 100%;
              height: auto;
            }
          }
        }

        .searchCountry {
          padding: 0 30px;
          border-top: 1px solid #777777;
          margin-top: 15px;
          padding-top: 15px;
          box-sizing: border-box;

          .searchCountryTitle {
            h4 {
              font-size: 20px;
              color: #000;
              line-height: 50px;
              float: left;
              margin-right: 15px;
            }

            input {
              float: left;
              height: 30px;
              border: 1px solid #ddd;
              padding: 0 8px;
              width: 200px;
              line-height: 30px;
              margin-top: 10px;
              border-radius: 8px;
              outline: none;
            }
          }

          .searchCountryDZ {
            li {
              float: left;
              margin-right: 20px;
              padding: 0 20px;
              height: 46px;
              font-size: 16px;
              font-weight: bold;
              color: #080808;
              line-height: 46px;
              background-color: #F7F7F7;
              border-radius: 16px;
            }
          }

          .searchCountryGJ {
            >li {
              margin-bottom: 10px;

              >p {
                float: left;
                width: 60px;
                font-size: 14px;
                color: #333;
                font-weight: bold;
                line-height: 30px;
              }

              .searchCountryFL {
                float: left;

                >li {
                  float: left;
                  padding-right: 20px;
                  font-size: 14px;
                  color: #666;
                  line-height: 30px;
                }

                .on {
                  color: #000;
                }
              }
            }
          }
        }

        .searchBrand {
          padding: 0 30px;
          border-top: 1px solid #777777;
          margin-top: 15px;
          padding-top: 15px;
          box-sizing: border-box;

          .searchBrandTitle {
            h4 {
              font-size: 20px;
              color: #000;
              line-height: 50px;
              float: left;
              margin-right: 15px;
            }

            input {
              float: left;
              height: 30px;
              border: 1px solid #ddd;
              padding: 0 8px;
              width: 200px;
              line-height: 30px;
              margin-top: 10px;
              border-radius: 8px;
              outline: none;
            }
          }



          .searchBrandLetter {
            li {
              padding: 0 8px;
              line-height: 24px;
              font-size: 14px;
              color: #999;
              float: left;
              cursor: pointer;
            }
          }

          .on {
            color: #000 !important;
            font-weight: bold;
          }

          .searchBandList li {
            width: 50%;
            padding: 0 8px;
            line-height: 24px;
            font-size: 14px;
            color: #999;
            float: left;
            cursor: pointer;
          }
        }

      }
    }


    .user {

      li {
        float: right;
        padding: 0 10px;
        font-size: 14px;
        font-weight: bold;
        color: #333;
        line-height: 40px;
      }
    }
  }

  // .m_container {
  //   display: none;
  // }
}

// pc 不显示
@media (max-width:1023px) {
  .pc_container {
    display: none;
  }
.pcHeaderHeight{
  display: none;
}
  .m_container {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 5px;
    padding-bottom: 15px;
    background: #fff;
    ;
    z-index: 1;
    box-sizing: border-box;


    .mark {
      display: none;
      position: fixed;
      top: 0;
      width: 100%;
      bottom: 0;
      background: rgba(0, 0, 0, .5);
      z-index: 9998;
    }

    .minNav {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      background: #fff;

      .userContainer {
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;

        li {
          float: left;
          width: 50%;
          text-align: center;

          &:first-child {
            border-right: 1px solid #ddd;
          }
        }
      }
    }
  }
}

//ipad 768px
@media (max-width:1023px) and (min-width:768px) {

  .m_container {

    .logo {
      font-size: 20px;
      line-height: 30px;
      color: #000;
      font-weight: bold;
    }

    .fonticon {
      font-size: 20px;
      vertical-align: -2px;
      text-align: center;
    }


    .minNav {
      width: 300px;

      li {
        font-size: 16px;
        line-height: 30px;
      }

      .userinfo {
        padding: 20px;
        font-size: 16px;
        font-weight: bold;
      }

      .menuLis li {
        font-size: 16px;
        line-height: 30px;
      }
    }

  }
}

//手机  640px
@media (max-width:766px) {
 
  .m_container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;


    .logo {
      font-size: 16px;
      line-height: 30px;
      color: #000;
      font-weight: bold;
    }

    .fonticon {
      height: 32px;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
    }


    .minNav {
      display: none;
      width: 200px;

      li {
        font-size: 16px;
        line-height: 30px;
      }

      .userinfo {
        padding: 20px;
        font-size: 16px;
        font-weight: bold;
      }

      .menuLis li {
        font-size: 16px;
        line-height: 30px;
      }
    }

  }
}

input,
button {
  outline: none;
}

// search input
.searchInput {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding: 10px 50px 10px 5px;
  background: rgb(220, 213, 213);
  border: 1px solid #ddd;
  box-sizing: border-box;

  li {
    padding: 0 10px;
    float: left;
    margin-right: 10px;
    background:rgb(110,106,107);
    color:#fff;
    height: 30px;
    line-height: 30px;
    border-radius: 16px;;
    box-sizing: border-box;
    .searchInputColse{
      cursor: pointer;
    }
    &:last-child {
      width: 120px;
      background: transparent;
      position: relative;
      input{
        width: 100%;
        height: 30px;
        border-radius: 4px;
        padding: 0 5px;
        line-height: 30px;
        font-size: 14px;
        color: #444;
        background: #fff;
        border: 1px solid #ddd;
        transition: all ease-in;
        outline: none;
        box-sizing: border-box;
      }
      
    }
  }
  .ICONSearch {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
  }
  
}

.moreSearchList{
  h4{
    font-size: 14px;
    font-weight: bold;
    color:#333;
    line-height: 50px;
  }
  li{
    padding: 0 10px;
    float: left;
    margin-right: 10px;
    margin-bottom:15px;
    background:rgb(239,239,239);
    color:#333;
    height: 30px;
    line-height: 30px;
    border-radius: 16px;
    box-sizing: border-box;
    &:nth-last-child(2){
      background: transparent;
      padding:0;
      input{
        width: 100%;
        height: 30px;
        border-radius: 4px;
        padding: 0 5px;
        line-height: 30px;
        font-size: 14px;
        color: #444;
        background: #fff;
        border: 1px solid #ddd;
        transition: all ease-in;
        outline: none;
        box-sizing: border-box;
      }
    }
    &:last-child{
      background: transparent;
      padding:0;
      button{
        height: 30px;
        border:0;
        outline: none;
        width:60px;
        border-radius: 16px;
        background:#000;
        color:#fff;
        line-height: 30px;
      }
    }
  }
}

.searchInputMobile{
  position: relative;
  box-sizing: border-box;
  input{
    width: 100%;
    height: 30px;
    padding-right: 30px;
    padding-left: 8px;
    border-radius: 4px;
    background: rgb(220, 213, 213);
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  .ICONSearch{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
  
  }
}